body{
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.jpg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Lato", Arial, sans-serif;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
}
.container::before{
    content: "";
    background: rgba(255, 255, 255, 0.08);
}
.login-title{
    font-size: 28px;
    color: #fff;
    margin-bottom: 40px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input::placeholder {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.ip-login{
    background: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 20px;
    height: 50px;
    width: 349px;
    border-radius: 40px;
    border: 0;
    background: rgba(255, 255, 255, 0.08);
    transition: all .3s;
}

.ip-login:focus {
    outline: none;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #ced4da;
}
.ip-login:hover{
    background: rgba(255, 255, 255, 0);
    border: 1px solid #ced4da;
}
.ip-submit{
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
    width: 389px;
}
.ip-submit:hover{
    cursor: pointer;
}
.erro{
    color: red;
    margin-top: 15px;
}
